<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="WorkDBEntities" connectionString="metadata=res://*/Data.DataModel.Model1.csdl|res://*/Data.DataModel.Model1.ssdl|res://*/Data.DataModel.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\WorkDB.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OfficeEntities" connectionString="metadata=res://*/Model.Base.csdl|res://*/Model.Base.ssdl|res://*/Model.Base.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-AJAFPRV;initial catalog=Office;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>